<div class="card">
  <div style="border-radius: 200px; height: 200px; width: 200px; margin: 0 auto; text-align: center;">
    <img src="https://th.bing.com/th/id/OIP.uYzX8DpX4wZCAvTD9xJBXwHaHa?rs=1&pid=ImgDetMain"
      style="width: 180px; border-radius: 200px; margin-top: 10px;" alt="">
  </div>
  <h2>Order has placed successfully</h2>
  <strong style="margin-left: 32px;">ThankYou for shopping</strong><br>
  <h5 style="margin-top: 20px;margin-left: 40px;">Kindly pay Ammount <strong
      style="color: red;">${{totalamount}}</strong>&nbsp;during delivery.</h5>
</div>
