/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Times New Roman', Times, serif ;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input{
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-color: red;
    color: red;
}

.form-button{
    height: 35px;
    border: 1px solid red;
    cursor: pointer;
}